/* rebase: rebase-uppercase-data-scheme-in-url */
.rb1{background:url(DATA:image/gif;base64,R0lGODlhAQABAAAAACw=)}
.rb2{background:url(Data:image/png;base64,AAAA)}
.rb3{background:url(data:image/gif;base64,R0lGODlhAQABAAAAACw=)}
